.Pokecard {
  background-color: lightgray;
  border-radius: 15px;
  width: 200px;
  height: 250px;
  text-align: center;
  margin: 10px;
}

.Pokecard-title {
  color: blue;
}

.Pokecard-info {
  list-style-type: none;
  padding: 0;
  margin: 0;
}